name: My First Workflow

on:
  push:
    branches: 
      -main 
  workflow_dispatch:

jobs:
  MyFirstJob:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello David"

      - name: Checkout
        uses: actions/checkout@6.0.1

      - name: List files of the repository
        run: |
          echo "The repository ${{ github.repository }} contains the following file:"
          tree 
          
